.Breakstart {
    display: flex;
    background-color: #1ac9ac;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 7px 20px;
    margin-top: 100px;
    margin-left: 350px;
    height: 180px;
    width: 250px;
    border-color: rgb(50, 143, 146);
    font-size: 2.5rem;
    text-align: center;
}

.BreakEnd {
    display: flex;
    background-color: #1ac9ac;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 7px 20px;
    margin-top: 100px;
    margin-left: 500px;
    height: 180px;
    width: 250px;
    border-color: rgb(50, 143, 146);
    font-size: 2.5rem;
    text-align: center;
}

.lunchdetails {
    margin-top: -250px;
    margin-left: 700px;
}

@media screen and (max-width: 768px) {

    .Breakstart,
    .BreakEnd {
        display: block;
        float: none;
        height: 60%;
        width: 100%;
        font-size: 1rem;
        text-align: center;
        margin-left: 100px;
    }
}

.Breakstart,
.BreakEnd {
    animation: pulse 2s infinite;
    color: rgb(111, 209, 188);
    border-radius: 100px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(111, 209, 188);
    }

    5% {
        transform: scale(1.01);
    }

    15% {
        transform: scale(1);
    }

    70% {
        box-shadow: 0 0 0 50px rgba(6, 255, 110, 0);
    }

    100% {
        box-shadow: 0 0 0 100px rgba(14, 255, 86, 0);
    }
}

.In,
.Out {
    margin-left: 250px;
    margin-top: -100px;
    border-color: #b9adad;
    block-size: 50px;
    inline-size: 100px;
}

:root {
    --radius: 12px;
    --primary-color: #009d71;
    --secondary-color: #4d1c61;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 250px;
    height: 250px;
    content: center;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.border-gradient {
    position: relative;
    border-radius: var(--radius);
}

.border-gradient:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: var(--radius);
    border-radius: var(--radius) var(--radius) 0 0;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.rounded-border-gradient {
    height: 200px;
    width: 300px;
    margin-top: -630px;
    margin-left: 350px;
    position: relative;
    inline-size: 20vw;
    aspect-ratio: 4/2;
    border-radius: 25px;
    border: 0.5rem solid transparent;
    background: linear-gradient(Canvas, Canvas) padding-box, linear-gradient(135deg, #31302b, #b12496, #f47d65) border-box;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.rounded-border-gradient:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translateY(-1rem);
    box-shadow: 0px 5px 50px 10px rgba(0, 0, 0, 0.1);
}

.rounded-border-gradient:hover img {
    transform: scale(0.9);
    border-radius: 25px;
}

.rounded-border-gradient1:hover .text-overlay {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.rounded-border-gradient:is(.variant-2) {
    background: linear-gradient(Canvas, Canvas) padding-box, linear-gradient(135deg, #0f0c9c, #f141fa, #ffe9a6) border-box;
}

.rounded-border-gradient:is(.variant-3) {
    background: linear-gradient(Canvas, Canvas) padding-box, linear-gradient(135deg, #ff9800, #ffc107, #ffeb3b) border-box;
}

.rounded-border-gradient1 .text-overlay {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-radius: 8px;
}

.rounded-border-gradient1.text-overlay p {
    color: #ffffff;
    font-weight: 700;
    align-self: center;
    margin: 0 1rem;
}

.rounded-border-gradient1 .text-overlay .button {
    background: #ffffff;
    color: #000000;
    padding: 0.5rem;
    border-radius: 8px;
    text-decoration: none;
    margin: 0 1rem;
}

.img-fluid {
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: flex;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media screen and (max-width: 820px) {

    .In,
    .Out {
        margin: 0 auto;
        margin-left: 250px;
        margin-top: -100px;
        block-size: 40px;
        inline-size: 80px;
    }

    .rounded-border-gradient {
        height: 200px;
        width: 250px;
        margin-top: -600px;
        margin-left: 550px;
    }

    .lunchdetails {
        margin-top: -200px;
        margin-left: 550px;
    }
}

@media screen and (max-width: 768px) {

    .In,
    .Out {
        margin: 0 auto;
        margin-left: 250px;
        margin-top: -100px;
        block-size: 40px;
        inline-size: 80px;
    }

    .rounded-border-gradient {
        height: 200px;
        width: 250px;
        margin-top: -600px;
        margin-left: 550px;
    }

    .lunchdetails {
        margin-top: -200px;
        margin-left: 550px;
    }
}

@media screen and (max-width: 560px) {

    .In,
    .Out {
        margin: 0 auto;
        margin-left: 180px;
        margin-top: -100px;
        block-size: 40px;
        inline-size: 80px;
    }

    @media screen and (max-width: 768px) {

        .In,
        .Out {
            margin: 0 auto;
            margin-left: 250px;
            margin-top: -100px;
            block-size: 40px;
            inline-size: 80px;
        }

        .rounded-border-gradient {
            height: 200px;
            width: 250px;
            margin-top: -500px;
            margin-left: 500px;
        }

        .lunchdetails {
            margin-top: -150px;
            margin-left: 500px;
        }
    }
}

@media screen and (max-width: 480px) {

    .In,
    .Out {
        margin: 0 auto;
        margin-left: 120px;
        margin-top: -100px;
        block-size: 40px;
        inline-size: 80px;
    }

    .rounded-border-gradient {
        height: 150px;
        width: 200px;
        margin-top: -400px;
        margin-left: 350px;
    }

    .lunchdetails {
        margin-top: -150px;
        margin-left: 350px;
    }
}

@media screen and (max-width: 393px) {
    .rounded-border-gradient {
        height: 150px;
        width: 200px;
        margin-top: -400px;
        margin-left: 350px;
    }

    .lunchdetails {
        margin-top: -150px;
        margin-left: 350px;
    }
}