/* Set the background color of the body element to light blue */
body {
    background-color: lightblue;
}

.employee-details-container {
    margin: 20px;
    margin-top: 2%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f6f6;
    margin-right: 80%;
  }
  
  h2 {
    margin-top: 0;
  }
  
  p {
    margin: 5px 0;
  }

.download-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 80px;
}

.download-container>* {
    align-self: flex-start;
}

.download-button1 {
    margin: 10px;
    position: fixed;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 14px;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    background-color: rgb(234, 13, 13);
    border: none;
    cursor: pointer;
}

.download-button,
.view-button {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 14px;
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .download-container {
        flex-direction: column;
        justify-content: center;
    }

    .download-button,
    .view-button,
    .download-button1 {
        margin: 5px;
        padding: 5px 10px;
        font-size: 12px;
        width: 80px;
        height: 40px;
    }
}




.page-heading {
    text-align: center;
    margin-bottom: -80px;
}

.page-heading h1 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px #ddd;
}

.page-heading h1 span {
    color: #f00;
}

.page-heading p {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    margin-top: 10px;
    text-transform: uppercase;
}

.message {
    margin-bottom: -0.9rem;
    margin-left: 1.5em;
}



.button22 {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.button22 :hover {
    background-color: #3e8e41;
}

.button22 :focus {
    outline: none;
}

/* Button with "Hide Data" text */
.button22 [data-active="true"]::before {
    content: "Hide ";
}

/* Button with "Employee Data" text */
.button22 [data-active="false"]::before {
    content: "Employee ";
}

/* Icon for "Hide Data" button */
.button22 [data-active="true"]::after {
    content: "\2193";
    /* Down arrow unicode character */
    margin-left: 5px;
}

/* Icon for "Employee Data" button */
.button22 [data-active="false"]::after {
    content: "\2191";
    /* Up arrow unicode character */
    margin-left: 5px;
}




  
  /* You can customize the styles based on your preferences */
  

  .loading {
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    /* Add additional styles as needed */
  }
  