/* Set the background color of the body element to light blue */
body {
    background-color: lightblue;
}

.download-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 80px;
}

.download-container>* {
    align-self: flex-start;
}


.download-button,
.view-button {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 14px;
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .download-container {
        flex-direction: column;
        justify-content: center;
    }

    .download-button,
    .view-button {
        margin: 5px;
        padding: 5px 10px;
        font-size: 12px;
        width: 80px;
        height: 40px;
    }
}



.download-button1 {
    margin: 10px;
    position: fixed;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 14px;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    background-color: rgb(234, 13, 13);
    border: none;
    cursor: pointer;
}

.page-heading {
    text-align: center;
    margin-bottom: -80px;
}

.page-heading h1 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px #ddd;
}

.page-heading h1 span {
    color: #f00;
}

.page-heading p {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    margin-top: 10px;
    text-transform: uppercase;
}

.message {
    margin-bottom: -0.9rem;
    margin-left: 1.5em;
}