.footer {
    background-color: #222;
    color: #fff;
    padding: 50px 0;

  }
  
  .footer p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  
  .footer h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li:last-child {
    margin-bottom: 0;
  }
  
  .footer .contact-info {
    margin-bottom: 30px;
  }
  
  .footer .contact-info p {
    margin-bottom: 10px;
  }
  
  .footer .contact-info p i {
    margin-right: 10px;
  }
  
  .footer .social-icons {
    text-align: right;
  }
  
  .footer .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: #222;
    margin-left: 10px;
  }
  
  .footer .social-icons a:hover {
    background-color: #3b5998;
    color: #fff;
  }
  