.navbar {
  position: sticky;
 }
.nav_link1,
.nav_link2,
.nav_link3,
.nav_link4,
.nav_link5,
.nav_link6 ,
.nav_link7,
.nav_link8{
  display: block; /* new property */
  padding: 10px;
  margin: 8% 0;
  color: rgb(255, 249, 249);
  font-size:medium;
  font-family: serif;
  font-style: unset;
  white-space: nowrap;
}
.nav_link1:hover,
.nav_link2:hover,
.nav_link3:hover,
.nav_link4:hover,
.nav_link5:hover,
.nav_link6:hover,
.nav_link7:hover,
.nav_link8:hover  {
  color: #7FC8D4;
}
.nav_link1.active,
.nav_link2.active,
.nav_link3.active,
.nav_link4.active,
.nav_link5.active,
.nav_link6.active ,
.nav_link7.active,
.nav_link8.active
{
  color:rgb(255, 255, 255)!important;
  font-weight:bold !important;
  font-size:larger !important;
}