.nav_link1,
.nav_link2,
.nav_link3,
.nav_link4 {
    margin-right: 50px;
    color: cadetblue;
    font-weight: 900;
    font-size: large;
    font-family: serif;
    font-style: unset;
    white-space: nowrap;
}


.nav_link1:hover,
.nav_link2:hover,
.nav_link3:hover,
.nav_link4:hover {
    color: darkseagreen !important;
    font-family: monospace !important;
}

.nav_link1.active,
.nav_link2.active,
.nav_link3.active,
.nav_link4.active {
    color: forestgreen !important;
    font-size: medium !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.active {
    color: #fff;
    background-color: #30f173;
    border-radius: 122px;
    padding: 9px 10px;
}