.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0%;
}

.date-picker {
    margin: 20px;
}

.date-picker label {
    font-size: 20px;
}

.date-picker .react-datepicker__input-container input {
    font-size: 20px;
    width: 200px;
}

.date-picker .react-datepicker__year-wrapper {
    width: 200px;
    margin: 10px 0;
}

.date-picker .react-datepicker__year-text,
.date-picker .react-datepicker__month-text {
    font-size: 20px;
}

.date-picker i {
    margin-top: 20px;
    font-size: 50px;
    color: darkblue;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .container1 {
        flex-wrap: nowrap;
    }

    .date-picker {
        margin: 0 20px;
    }

    .date-picker label {
        font-size: 25px;
    }

    .date-picker .react-datepicker__input-container input {
        font-size: 25px;
        width: 250px;
    }

    .date-picker .react-datepicker__year-wrapper {
        width: 250px;
        margin: 20px 0;
    }

    .date-picker .react-datepicker__year-text,
    .date-picker .react-datepicker__month-text {
        font-size: 25px;
    }

    .date-picker i {
        margin-top: 20px;
        font-size: 80px;
        width: 100px;
        height: 50px;
        margin-right: 20px;
    }
}


.download-csv1 {
    display: flex;
    align-items: center;
    margin-left: 45%;
    margin-top: 5%;
}

.button {
    --width: 150px;
    --height: 50px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #1163ff;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
}

.button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper,
.text,
.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text {
    top: 0
}

.text,
.icon {
    transition: top 0.5s;
}

.icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background: #6c18ff;
}

.button:hover .text {
    top: -100%;
}

.button:hover .icon {
    top: 0;
}

.button:hover:before,
.button:hover:after {
    opacity: 1;
    visibility: visible;
}

.button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}