.container-input {
    position: relative;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}


/* table {
    margin-top: 1%;
    border-collapse: collapse;
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
} */




.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   
  }
  
  /* .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .page-item {
    margin: 0 5px;
    color: #E0FFFF;
    border: 1px solid #E0FFFF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* .page-item:hover {
    background-color: #007bff;
    color: #fff;
  } */
  
  /* .page-item.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
    */