body {
  /* background: url("https://coolbackgrounds.io/images/backgrounds/white/white-trianglify-b79c7e1f.jpg"); */
  background-color: brown;
  /* background-repeat: repeat-x; */
  background-size: cover;
}

.Admin,
.Login,
.Logout,
.Break {
  background-color: teal;
  border-radius: 100px;
  box-shadow: rgba(83, 207, 180, 0.993) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 7px 20px;
  margin-top: 150px;
  margin-left: 50px;
  height: 150px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Admin:hover,
.Login:hover,
.Logout:hover,
.Break:hover {
  box-shadow: rgba(83, 207, 180, 0.993) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media screen and (max-width: 768px) {

  .Admin,
  .Login,
  .Logout,
  .Break {
    height: 100px;
    width: 150px;
    font-size: 10px;
  }
}

.smrft_logo {
  margin-top: 2%;
}